.settingsBody {
    width: 1162px;

    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 2rem;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    gap: 23px;
}

.sidebar {
    width: 100%;

    display: flex;
    align-items: end;
    gap: 5px;
}

.submenu {
    width: 100%;
    display: flex;
}

.submenuLabel {
    color: white;
    text-align: start;
}

.mainPanel {
    background-color: var(--bg-color-dark);

    width: auto;
    height: 587px;

    flex-grow: 1;
}

.option {
    padding: 10px 12px;
    color: white;

    display: flex;
    justify-content: space-between;
}