.settingsBody {
    width: 75vw;
    height: 75vh;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    position: absolute;

    font-size: 2rem;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    gap: 23px;
}

.sidebar {
    margin-top: 5px;
    width: 100%;

    display: flex;
    align-items: end;
    gap: 5px;
    margin-bottom:5px;
}
.margin-5{
    margin-bottom: 5px;
}

.submenuLabel {
    color: white;
    text-align: start;
}

.mainPanel {
    margin-top: 5px;
    background-color: var(--bg-color-dark);

    width: auto;
    height: 587px;

    flex-grow: 1;
}

.option {
    padding: 10px 12px;
    color: white;

    display: flex;
    justify-content: space-between;
}
.settingsThemselves {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
}