.mixedPage {
    width: 100vw;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: initial;
}

.settingsPanel {
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.firstLevelTabs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.spacer {
    width: 100%;
    margin: 5px;
}

.granularSettings {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.secondLevelTabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.settingsThemselves {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--bg-color-dark);
}
